# This is a template file for secrets that should be encrypted with ansible vault
#
# cp vars/secrets.yml.template vars/secrets.yml
# nano vars/secrets.yml
# ansible-vault encrypt vars/secrets.yml
#
# run playbook with --ask-vault-pass
telegram_bot_token: "YOUR BOT TOKEN"
telegram_chat_id: "YOUR CHAT ID"